   nav {
   background-color: rgba(162, 12, 192, 0.83);
   }
   .navbar-brand {
   font-weight: bolder;
   font-size: 2em !important;
   }
   .btn.btn-outline-light.fw-bold {
   background-color: rgb(235, 219, 219);
   }
